.ultima-parte{
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper{
    width: 90%;
    height: 90%;
    background: black;
    display: flex;
    position: relative;
    border-radius: 3rem;
    
}

.div-1{
    width: 100%;
    height: 100%;
    background: url(../imagens/guarapuava-bandeira.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    border-radius: 3rem;
}

.div-2{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;

}
.div-2 h1{
    margin-left: 1rem;
    text-shadow: 1px 1px #86E7B8;
}
.div-2 p{
    font-size: 1.5rem;
    margin: 1rem;

}

.div-2 h2{
    font-style: italic;
    font-weight: bold;
    margin-top: 2rem;
    margin-left: 3rem;
    text-decoration: underline #86E7B8;
}


.rodape{
    width: 100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
 
}
.rodape-links{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rodape-links p{
    margin: 1.5rem ;
    text-decoration: underline #86E7B8;
    cursor: pointer;

}

.rodape-result{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape-result p{
    font-size: 1rem;
    margin: 1rem;
}