


/*resolução tablet: texto aumenta, flecha muda localização e margem dos menus para com logo aumenta*/

@media (min-width: 768px){
    .texto p{
        font-size: 3rem;
    } 

    .menu{
        margin-bottom: 4rem;
    }
    .flecha-seguinte-lado{
        display: flex;
    }
    .flecha-seguinte-baixo{
        display: none;
    }
    .logo{
        width: 40%;
    }
   

    .flecha-voltar{
        display: none;
    }

    .flecha-voltar-lado{
    display: flex;
    }

    .frame-container{
        margin-top: 1rem;
        width: 366px;
        height: 285px;}
  
    /**/

    .container-feitos{
        display: none;
    }

    .container-feitos-desktop{
        display: flex;
    }

    .imagem-wrapper{
       height: 100px;
    }
   
    .logo-secundaria{
        height: 15%;
        width: 55%;
        position: absolute;
        top: 5rem;
        left: 2rem;
        display: flex;
    }

    .secundariotxt{
        font-size: 1.3rem;
        position: absolute;
        top: 5rem;
        right: 5rem;
    }

    .div-2{
    font-size: 2rem;}
}

@media (min-width: 900px){
    .imagem-wrapper{
        margin-left: 40px;
    }
}
/*Desktop resolução*/

@media (min-width: 1024px ){
    .logo{
        margin-bottom: 3rem;
        
    }
    .frame-container{
        margin-top: 1rem;
        width: 396px;
        height: 315px;}

   
  
    /**/

    .container-feitos-desktop{
        margin-top: 8rem;

    }
    .logo-secundaria{
        width: 45%;
        top: 2rem;
    }
    .secundariotxt{
        font-size: 2rem;
        right: 10rem;
        top: 2rem;

    }


    .flecha-voltar-lado{
        bottom: 15rem;
    }

    .imagem-wrapper{
        width: 200px;
        height: 115px;
        margin-left: 7rem;
    }
    .container-feitos-desktop a p{
        margin-top: 5px;
        font-size: 1.2rem;
    }

    .wrapper{
        width: 90%;
        height: 90%;}

    .wrapper p, h1{
        margin-bottom: 3rem;

    }
    .div-2{
        font-size: 2.5rem;
    }
    .div-2 h2{
        text-decoration: none;
    }

    .rodape-links p{
        font-size: 2rem;
    }
   
    .rodape-result p{
        font-size: 1.5rem;
    }


    .centro .circular img{
        opacity: 1;
    }

    .centro .circular:hover > img{
    opacity: 0.4;
    }

    .centro p{
    opacity: 0;}

    .centro .circular:hover > p{
        opacity: 1;
    }

}

@media (min-width: 1300px ){
    .imagem-wrapper{
        width: 220px;
        height: 130px;
        margin-left: 12rem;
      
    }
}




/*Ajustes para resoluções extremamente pequenas (detalhes, não relevantes)*/

@media (max-width: 290px){
    .centro .circular{
        width: 20rem;
        height: 20rem;
    }

    .centro p{
        font-size: 1.5rem;
    }
  

    .redes-sociais{
        width: 75%;
        margin-left: 5%;
    }

    .div-2{
        font-size: 0.2rem;}
}

@media (max-width: 218px){
  
    .centro p{
        font-size: 1rem;
    }
    .redes-sociais{
        width: 80%;
        margin-left: 3%;
       
    }
    .redes-sociais a{
        width: 10%;
        margin-right: 2rem;
    }
}




