
@media (min-width: 375px){
    .bio-main p{
        font-size: 16px;
    }


@media (min-width: 569px){
    .bio-main p{
        font-size: 17px;
    }
}
@media (min-width: 659px){
    .bio-main p{
        font-size: 19px;
    }
}

@media (min-width: 768px){
    .bio-main p{
        font-size: 23px;
    }
}

@media (min-width: 861px){
    .bio-main p{
        font-size: 22px;
    }
}

@media (min-width: 1024px){
    .bio-main p{
        font-size: 28px;
    }
}

@media (min-width: 1200px){
    .bio-main p{
        font-size: 30px;
    }
}


/**/

}
@media (max-height: 476px){
    .bio-main p{
        font-size: 12px;
    }
    
}
@media (max-height: 323px){
    .bio-main p{
        font-size: 10px;
    }
    .bio-header p{
        font-size: 2rem;
    }
}
@media (max-height: 220px){
    .biografia{
        display: none;
    }
}